

<div  class="bd-callout bd-callout-info submit_form_addon" id="{{ instance.pk }}" style="{% if position.is_resized %}top:{{ position.top }}; left:{{ position.left }}; width:{{ position.width }}; height:{{ position.height }};{% endif %}background-color: white; cursor: -webkit-grab; cursor: grab;">
    <h4 id="dealing-with-specificity">{{ instance.form_name }}{{ left }}</h4>
    <form>
        <input type="hidden" value="{{ instance.ajax_function }}" name="ajax_function">
        <input type="hidden" value="{{ instance.py_function }}" name="py_function">
        <div class="row">
            <div class="col-md-11">
                <div class="form-row">

                    {% for i in inputs %}
                        {% if i.input_type == "date" %}
                            <div class="col-md-12">
                                <div class="form-row">
                                    <label class="col-md-12 text-info form-element-label {% if i.label_position and i.label_position.is_resized %} col-resized {% endif %}" style="{% if i.label_position and i.label_position.is_resized %}top:{{ i.label_position.top }}; left:{{ i.label_position.left }}; width:{{ i.label_position.width }}; height:{{ i.label_position.height }};{% endif %}font-size:12px;"
                                       for="{{ i.input_name }}-{{ forloop.counter }}" data-id="{{ i.pk }}">{{ i.input_name }}</label>
                                    <div class="col-md-3 form-element-container  {% if i.label_position and i.label_position.is_resized %} col-resized {% endif %}" data-id="{{ i.pk }}" style="{% if i.inp_position and i.inp_position.is_resized %}top:{{ i.inp_position.top }}; left:{{ i.inp_position.left }}; width:{{ i.inp_position.width }}; height:{{ i.inp_position.height }};{% endif %}" {% if i.inp_position and i.inp_position.is_resized %} data-width="{{ i.inp_position.width }}" {% endif %}>

                                        <input name="{{ i.input_name }}-{{ forloop.counter }}" type="{{ i.input_type }}"
                                       class="form-control form-control-sm form-element"
                                       id="{{ i.input_name }}-{{ forloop.counter }}"
                                       placeholder="Enter input name" value="{{ i.input_value }}"
                                               style="font-size: 12px; margin:1px"  >

                                    </div>
                                </div>
                            </div>
                        {% else %}

                            <label class=" col-md-2 text-info form-element-label {% if i.label_position and i.label_position.is_resized %} col-resized {% endif %}" style="{% if i.label_position and i.label_position.is_resized %}top:{{ i.label_position.top }}; left:{{ i.label_position.left }}; width:{{ i.label_position.width }}; height:{{ i.label_position.height }};{% endif %}font-size:12px;"
                               for="{{ i.input_name }}-{{ forloop.counter }}"  data-id="{{ i.pk }}">{{ i.input_name }}</label>

                            {%  if  inputs|length == 2 %}
                            <div class="col-md-4 form-element-container {% if i.label_position and i.label_position.is_resized %} col-resized {% endif %}" data-id="{{ i.pk }}" style="{% if i.inp_position and i.inp_position.is_resized %}top:{{ i.inp_position.top }}; left:{{ i.inp_position.left }}; width:{{ i.inp_position.width }}; height:{{ i.inp_position.height }};{% endif %}" {% if i.inp_position and i.inp_position.is_resized %} data-width="{{ i.inp_position.width }}" {% endif %}>
                            {% else %}
                            <div class="col-md-1 form-element-container {% if i.label_position and i.label_position.is_resized %} col-resized {% endif %}" data-id="{{ i.pk }}" style="{% if i.inp_position and i.inp_position.is_resized %}top:{{ i.inp_position.top }}; left:{{ i.inp_position.left }};width: {{ i.inp_position.width }}; height:{{ i.inp_position.height }};{% endif %}" {% if i.inp_position and i.inp_position.is_resized %} data-width="{{ i.inp_position.width }}" {% endif %}>
                            {% endif %}



                            {% if i.input_type == "checkbox" %}
                                <input name="{{ i.input_name }}-{{ forloop.counter }}" type="{{ i.input_type }}" class="form-control form-element "
                                       id="{{ i.input_name }}-{{ forloop.counter }}"
                                       {% if i.default_value == "true" %}checked="checked"{% endif %}>
                            {% else %}
                                <input name="{{ i.input_name }}-{{ forloop.counter }}" type="{{ i.input_type }}"
                                       class="form-control form-control-sm form-element"
                                       id="{{ i.input_name }}-{{ forloop.counter }}"
                                       placeholder="Enter input name" value="{{ i.input_value }}"
                                       style="font-size: 12px; margin:1px" >
                            {% endif %}
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-element-container btn-container" data-id="{{ instance.pk }}" style="{% if instance.btn_position and instance.btn_position.is_resized %} top:{{ instance.btn_position.top }}; left:{{ instance.btn_position.left }}; width:{{ instance.btn_position.width }}; height:{{ instance.btn_position.height }};{% endif %}display:inline-block;">
            <input style="margin: 10px;margin-left: 0px" type="button" class="submit_form btn btn-info btn-sm" id="calculate" value="{{ instance.button_name }}">
        </div>

        <!--INSERT PLACE FOR PLACE HOLDER CHILD PLUING -->


        <!-- Below code hides/shows the save model button -->
        <input type="hidden" name="save_calculate" id="save_calculate" value="1">
{#        <input style="margin:10px" type="button" class="show_model btn btn-warning btn-sm" value="Save Model">#}

{#        <div id="save_model_div" class="form-row save_model_div" style="display: none;">#}
{##}
{#            <div class="col-md-11">#}
{#            <div class="form-row">#}
{##}
{#                <label class="col-md-2 text-info" style="font-size:12px;" for="model_name">Model Name</label>#}
{#                <div class="col-md-2">#}
{#                <input name="model_name" type="text" class="form-control form-control-sm"#}
{#                       id="model_name"#}
{#                       placeholder="Enter model name"#}
{#                       style="font-size: 12px;margin:1px" >#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="form-row">#}
{#                <label class="col-md-2 text-info" style="font-size:12px;" for="model_comments">Model Comments</label>#}
{#                <div class="col-md-5">#}
{#                <textarea name="model_comments" type="textarea" class="form-control form-control-sm"#}
{#                       id="model_comments" rows=3#}
{#                       placeholder="Comments..."#}
{#                          style="font-size: 12px;resize: both"></textarea>#}
{#                <input type="hidden" name="button_name" value="{{ instance.button_name }}">#}
{#                <input type="hidden" name="form_name" value="{{ instance.form_name }}">#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{##}
{##}
{#            </div>#}
{#         <input style="margin-top: 10px" type="button" class="submit_form btn btn-success btn-sm" value="Save Model to DB">#}
{#        </div>#}
    </form>
</div>
